body {
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    font-size: 1rem;
}
.wrapper{
    display:flex;
    text-align: center;
    background-color: #fff;
    justify-content:center;
}
.box1{
    background-color: #fff;
    margin: 2px;
    padding: 40px;
    border: 1px solid red;
}
.box2{
    background-color: #fff;
    margin: 2px;
    padding: 40px;
    border-right: 1px solid red;
    border-bottom: 1px solid red;
}
.box3{
    background-color: #fff;
    margin: 2px;
    padding: 40px;
    border-left: 1px solid red;
    border-bottom: 1px solid red;
}
.box4{
    background-color: #fff;
    margin: 2px;
    padding: 40px;
    border-right: 1px solid red;
    border-top: 1px solid red;
}
.box5{
    background-color: #fff;
    margin: 2px;
    padding: 40px;
    border-left: 1px solid red;
    border-top: 1px solid red;
}